<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ selectedPlace.title }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-img [src]="selectedPlace.imageUrl"></ion-img>
          <ion-col size="12" size-sm="8" offset-sm="2" text-left>
              <h3>{{ selectedPlace.description }}</h3>
              <h3>{{ selectedPlace.price }}</h3>
              <ion-button expand="block" color="primary" (click)="onBookPlace()">Book Now</ion-button>
              <ion-button expand="block" color="danger" fill="outline" (click)="onCancel()">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
</ion-content>
