<ion-header>
  <ion-toolbar>
    <ion-title>
      UMN UKM
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let ukm of loadedUkm">
      <ion-col size="12">
        <ion-card>


            </ion-img>
          <ion-card-content>
            <p>{{ ukm.description }}</p>
            <ion-row justify-content-end>
              <ion-button item-right (click)="confirmJoin(ukm)">Join</ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
